html {
    background-color: aliceblue;
}
.sideNav {
    height: 100%; 
    width: 25%; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: lightsalmon;
    overflow-x: hidden; 
    padding-top: 30px; 
}
h2 {
    font-family: cursive, sans-serif;
    color: azure;
    text-align: center;
    padding-bottom: 20px;
}
[ng-cloak] {
    display: none;
}
.rooms {
    font-size: 20px;
    font-family: fantasy;
    color: wheat;
    text-align: center;
}

.buttonParent {
    text-align: center;
}